<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>西北工业大学艺术教育中心来西安美院调研交流-新闻网</title><meta name="pageType" content="3">
<meta name="pageTitle" content="西北工业大学艺术教育中心来西安美院调研交流">
<META Name="keywords" Content="新闻网,综合时讯" />
<META Name="description" Content="4月23日，西北工业大学艺术教育中心主任张清江一行来西安美院调研，学院副院长何军、关山月再传弟子胡宏源出席座谈会。何军对张清江一行的来访表示欢迎，并介绍了学院的历史沿革、专业特色，以及在科研创作、美育公教、漆艺研究、创新发展等方面的概况和成就。希望双方能以此次调研交流为契机，进一步加深了解，拓展合作领域，共同为我国艺术教育与科技的融合发展贡献力量。武小川表示，两校有着深厚的合作基础，未来可就人才培养、交叉课程建设、艺术实践等方面进一步深化合作机制，探索更多艺术教育与科技发展的新路径。张清江对..." />

    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/f.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/slick-theme.css">
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/ny.css">
<link rel="stylesheet" href="static/css/m-ny.css">
   

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="static/css/_sitegray_d.css" />
<script language="javascript" src="static/js/_sitegray.js"></script>
<!-- CustomerNO:77656262657232306975465550565742000200024455 -->
<link rel="stylesheet" type="text/css" href="static/css/nry.vsb.css" />
<script type="text/javascript" src="static/js/counter.js"></script>
<script type="text/javascript">_jsq_(1021,'/nry.jsp',17911,1906949149)</script>
</head>

<body>

    <!--pc头部-->
    <div class="yc-search">


<script language="javascript" src="static/js/base64.js"></script><script language="javascript" src="static/js/jquery-latest.min.js"></script><script language="javascript" src="static/js/vue.js"></script><script language="javascript" src="static/js/bluebird.min.js"></script><script language="javascript" src="static/js/axios.js"></script><script language="javascript" src="static/js/polyfill.js"></script><script language="javascript" src="static/js/token.js"></script><LINK href="static/css/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/index.js"></script><script language="javascript" src="static/js/public.js"></script><div id="divu0"></div>
<script type="text/html" id="htmlu0">
    <div id="appu0">
    <div class="yc-search-bg"></div>
        <div v-if="!isError" class="search">
            <input type="text" placeholder="请输入关键字" class="text" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input  class="button" name="submit_button" type="submit" value="" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu0").html($("#htmlu0").text());
</script>
<script>
    var appOwner = "1906949149";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu0",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.10.100.110:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script></div>
    <div class="pc pc-head">
      <div class="top pc-top">
            <div class="">
              <div class="logo fl flex-center">
<a href="https://www.xafa.edu.cn/" target="_blank"><img src="static/picture/logo.png" /></a>
                    <a href="https://new.xafa.edu.cn/"><img src="static/picture/logox.png" /></a></div>
                <div class="top-r">
                    <div class="top-rbox">
                        <div class="top-r-t">
                            <div class="top-r-lj"><script language="javascript" src="static/js/dynclicks.js"></script><script language="javascript" src="static/js/openlink.js"></script><a href="http://e.xafa.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86494)">English</a>
</div>
                            <div class="search-con"><button><img src="static/picture/fdj.png" /></button></div>


                        </div>
                        <!--pc导航-->
                        <div class="nav"><ul class="clearfix">
<li>
                  <a href="../../xmyw.htm" title="西美要闻">西美要闻</a>  
                </li>

<li>
                  <a href="../../xmzx.htm" title="西美资讯">西美资讯</a>  
                </li>

<li>
                  <a href="../../mtxm.htm" title="媒体西美">媒体西美</a>  
                </li>

<li>
                  <a href="../../tzgg.htm" title="通知公告">通知公告</a>  
                </li>

<li>
                  <a href="../../ztbd.htm" title="专题报道">专题报道</a>  
                    
                   <div>
                                        <ul>

                       <li> <a href="../../ztbd/djxxjy.htm" title="党纪学习教育">党纪学习教育</a> </li>

                       <li> <a href="../../ztbd/jzzzzl.htm" title="集中整治专栏">集中整治专栏</a> </li>

                       <li> <a href="../../ztbd/ddesd.htm" title="党的二十大">党的二十大</a> </li>

                       <li> <a href="../../ztbd/dwzxzxx.htm" title="党委中心组学习">党委中心组学习</a> </li>

                       <li> <a href="../../ztbd/jygz.htm" title="就业工作">就业工作</a> </li>

                       <li> <a href="../../ztbd/hmsl.htm" title="弘美尚廉">弘美尚廉</a> </li>

                       <li> <a href="../../ztbd/gzmbysj.htm" title="关中忙罢艺术节">关中忙罢艺术节</a> </li>
                    </ul>
                                    </div>
                    
                </li>

<li>
                  <a href="#" title="数字院报">数字院报</a>  
                </li>

</ul></div>
                    </div>

                    <div class="g-navk">
                        <div class="g-nav"><img src="static/picture/menu-w.png" class="pcmenu" alt="">
                            <img src="static/picture/menu-r.png" class="pc-close-menu" alt=""></div>
                    </div>
                </div>

            </div>
        </div>

        

    </div>
    
    
    <div class="top-yc">
            <div class="top-nav animated">
                <div class="top-nav-icons">
                    <div class="icon-group">
                        <div>    <ul class="icons-box flex-center">
       
               <li>
                        <a href="http://www.xafa.edu.cn/index/sj_yzxx.htm" title="信箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71145)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con1.png" alt="">
                                            <img src="static/picture/nav_con1-r.png" alt="">
                                        </div>
                        </a><p>信箱</p> 
                          
                </li>
               <li>
                        <a href="#" title="融媒体系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71144)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con2.png" alt="">
                                            <img src="static/picture/nav_con2-r.png" alt="">
                                        </div>
                        </a><p>融媒体系统</p> 
                          
                </li>
               <li>
                        <a href="https://oa.xafa.edu.cn/" title="OA系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71143)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con3.png" alt="">
                                            <img src="static/picture/nav_con3-r.png" alt="">
                                        </div>
                        </a><p>OA系统</p> 
                          
                </li>
               <li>
                        <a href="#" title="全媒体系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71142)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con4.png" alt="">
                                            <img src="static/picture/nav_con4-r.png" alt="">
                                        </div>
                        </a><p>全媒体系统</p> 
                          
                </li>
               <li>
                        <a href="http://www.xafa.edu.cn/index/xyfw.htm" title="校园服务" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71170)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con5.png" alt="">
                                            <img src="static/picture/nav_con5-r.png" alt="">
                                        </div>
                        </a><p>校园服务</p> 
                          
                </li>
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon6.png" alt="">
                                            <img src="static/picture/nav_dcon6-r.png" alt="">
                                        </div></a> <p>微博</p> 
                                       <div class="icon-alt-box">
                                        <img src="static/picture/weibo.png" alt="">
                          </div> 
                </li>
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon7.png" alt="">
                                            <img src="static/picture/nav_dcon7-r.png" alt="">
                                        </div></a> <p>微信</p> 
                                       <div class="icon-alt-box">
                                        <img src="static/picture/weixin.jpg" alt="">
                          </div> 
                </li>
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon8.png" alt="">
                                            <img src="static/picture/nav_dcon8-r.png" alt="">
                                        </div></a> <p>抖音</p> 
                                       <div class="icon-alt-box">
                                        <img src="static/picture/douyin.png" alt="">
                          </div> 
                </li>
       
</ul></div>

                    </div>
                </div>
                <div class="fast-nav">
                    <h2>快速导航</h2>
                    <div class="foot-nav-box"><b>院系设置</b>
                        <ul>
    <LI>
    <a href="http://www.xafa.edu.cn/yx/zghxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86495)">中国画学院</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/sfx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86514)">书法系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/jzhjysx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86501)">建筑环境艺术系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/jxjyxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86507)">继续教育学院</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/yhx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86496)">油画系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/ghx7.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86502)">服装系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/tsjyysxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86508)">特殊教育艺术学院</a>
    
     </li>
    <LI>
    <a href="http://www.xafa.edu.cn/yx/bhx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86497)">版画系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/kmtysx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86503)">实验艺术系</a>
    
     
    
    <a href="http://www.xafa.edu.cn&lt;span style='color:red;font-size:9pt'&gt;转换链接错误&lt;/span&gt;" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86509)">附属中等美术学校</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/dsx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86498)">雕塑系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/ysrwxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86504)">美术史论系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/mkszyxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86510)">马克思主义学院</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/gymsx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86499)">公共艺术系</a>
    
     </li>
    <LI>
    <a href="http://www.xafa.edu.cn/yx/ysdhx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86505)">影视动画系</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/zxysb.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86511)">造型艺术部</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/sjysxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86500)">设计艺术学院</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/ysjyxy.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86506)">艺术教育学院</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/ggjcjxb.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86512)">基础部</a>
    
     
    
    <a href="#" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86513)">小教培训中心</a>
    
     
    
    <a href="http://www.xafa.edu.cn/yx/tyb.htm" title="西安美术学院体育部" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86515)">体育部</a>
    
     </li>
</UL></div>
                    <div class="foot-nav-box"><b>学院机构</b>
                        <ul>
    <LI>
    <a href="http://www.xafa.edu.cn/yx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86521)">院系设置</a>
    
     
    
    <a href="http://www.xafa.edu.cn/xygk/zzjg/dqbm.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86522)">党群机构</a>
    
     
    
    <a href="http://www.xafa.edu.cn/xygk/zzjg/xzjg.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86523)">行政机构</a>
    
     
    
    <a href="http://www.xafa.edu.cn/xygk/zzjg/jfjg.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86524)">教辅机构</a>
    
     </li>
    <LI>
    <a href="http://www.xafa.edu.cn/xygk/zzjg/xsjg.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86525)">学术机构</a>
    
     
</UL></div>
                </div>

                <div class="foot-bq">
<p>版权声明：西安美术学院信息中心版权所有 / <a href="https://beian.miit.gov.cn/" target="_blank" style="color: #c9caca">陕ICP备05010976号-1</a></p><p>地址：陕西省西安市雁塔区含光南路100号 西安美术学院 / 邮编：710065 / 电话：029-88216989</p></div>
            </div>
        </div>
        
        
        
    <!-- 移动端导航 -->
    <div class="m-top">
        
        <div class="g-nav">
            <img src="static/picture/menu-w.png" class="pcmenu" alt="">
            <img src="static/picture/menu-r.png" class="pc-close-menu" alt="">
        </div>
        <div class="wap wap-menu">
            <img src="static/picture/menu.png" class="menu" alt="">
            <img src="static/picture/close.png" class="close-menu" alt="">
        </div>
 
    
    
    

    </div>
    <div class="wap m-head">
        <div class="m-logo">
            
<a href="https://www.xafa.edu.cn/" target="_blank"><img src="static/picture/logo.png" /></a>
                    <a href="https://new.xafa.edu.cn/"><img src="static/picture/logox.png" /></a>
        </div>
        <div class="m-nav">
            <div class="m-tlink">
                <a href="http://e.xafa.edu.cn/" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86494)">English</a>

            </div>
            <div class="m-search">


<div id="divu13"></div>
<script type="text/html" id="htmlu13">
    <div id="appu13">
        <div v-if="!isError">
            <input type="text" placeholder="请输入关键字" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input  name="submit_button" type="image" src="../../images/fdj.png" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu13").html($("#htmlu13").text());
</script>
<script>
    var appOwner = "1906949149";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu13",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://10.10.100.110:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script></div>
            <ul class="clearfix"><li>
                  <a href="../../xmyw.htm" title="西美要闻">西美要闻</a> 
                </li>
<li>
                  <a href="../../xmzx.htm" title="西美资讯">西美资讯</a> 
                </li>
<li>
                  <a href="../../mtxm.htm" title="媒体西美">媒体西美</a> 
                </li>
<li>
                  <a href="../../tzgg.htm" title="通知公告">通知公告</a> 
                </li>
<li>
                  <a href="../../ztbd.htm" title="专题报道">专题报道</a> 
                    <span></span> 
                  
                                        <ul>

                       <li> <a href="../../ztbd/djxxjy.htm" title="党纪学习教育">党纪学习教育</a> </li>

                       <li> <a href="../../ztbd/jzzzzl.htm" title="集中整治专栏">集中整治专栏</a> </li>

                       <li> <a href="../../ztbd/ddesd.htm" title="党的二十大">党的二十大</a> </li>

                       <li> <a href="../../ztbd/dwzxzxx.htm" title="党委中心组学习">党委中心组学习</a> </li>

                       <li> <a href="../../ztbd/jygz.htm" title="就业工作">就业工作</a> </li>

                       <li> <a href="../../ztbd/hmsl.htm" title="弘美尚廉">弘美尚廉</a> </li>

                       <li> <a href="../../ztbd/gzmbysj.htm" title="关中忙罢艺术节">关中忙罢艺术节</a> </li>
                    </ul>
                                    
                    
                </li>
<li>
                  <a href="#" title="数字院报">数字院报</a> 
                </li>
</ul>
        </div>
    </div>

    <div class="banner"><div><img src="static/picture/banner2.jpg" /></div></div>
    <div class="ny jyjx  bggray">
        <div class="ny-box px1200 bgfff bglogo">
            <div class="ny-r">
                <div class="ny-tit">
                    <div class="ny-tit-box">
                        <h4></h4>
                        <h3>西美资讯</h3>
                    </div>
</div>

                <div class="jyjx-box">

<script language="javascript" src="static/js/newsvotedwr.js"></script><script language="javascript" src="static/js/engine.js"></script><script language="javascript" src="static/js/newscontent.js"></script><LINK href="static/css/photoswipe.css" type="text/css" rel="stylesheet"><script language="javascript" src="static/js/pw.js"></script><link rel="stylesheet" Content-type="text/css" href="static/css/format2.css"><script language="javascript" src="static/js/ajax.js"></script><form name="_newscontent_fromname">
<div class="art-main">
<div class="art-tit cont-tit d">
                        <h3>西北工业大学艺术教育中心来西安美院调研交流</h3>
                        <p>
                            <span>发布日期：2025-04-30 15:55</span>
                            <span>作者：马玥琳 李晓亭</span>
                            <span>来源：科研创作处
    </span>
                        </p>
                    </div>
                    <div class="art-body d">
                    
                    
    <div id="vsb_content_2"><div class="v_news_content">
<p class="vsbcontent_start">4月23日，西北工业大学艺术教育中心主任张清江一行来西安美院调研，学院副院长何军、关山月再传弟子胡宏源出席座谈会。</p> 
  <p class="">何军对张清江一行的来访表示欢迎，并介绍了学院的历史沿革、专业特色，以及在科研创作、美育公教、漆艺研究、创新发展等方面的概况和成就。希望双方能以此次调研交流为契机，进一步加深了解，拓展合作领域，共同为我国艺术教育与科技的融合发展贡献力量。</p> 
  <p class="">武小川表示，两校有着深厚的合作基础，未来可就人才培养、交叉课程建设、艺术实践等方面进一步深化合作机制，探索更多艺术教育与科技发展的新路径。</p> 
  <p class="">张清江对学院的热情接待表示感谢。并充分肯定了西安美院在艺术教育和创作方面的历史底蕴和专业特色，西工大期待与西安美院建立长期稳定的合作关系，依托双方专业特色，资源共享，优势互补，探索更多元、更高效的美育协同机制。</p> 
  <p class="">参会人员就加强公共艺术课程建设、非遗漆艺传承、美育及艺术助力乡村振兴、艺科融合、交叉学科建设等多方面进行交流座谈。随后，张清江一行参观“艺术为人民研究院”创研港。</p> 
  <p class="">学院科研创作处、学科建设办公室、工艺美术系、跨媒体艺术系负责人参加座谈会。</p> 
  <p class="vsbcontent_img" style="text-indent: 0px;text-align:center "><img src="static/picture/6d3129158b82ce85e61cea1223b_dda78ae4_21b46.jpeg" source-url="/storage/59149573077CFD34521B6277BD31288E" width="500" name="image1.jpeg" height="auto" title="image1.jpeg" border="" vspace="" alias-label="img" vsbhref="vurl" vurl="/_vsl/2708F6D3129158B82CE85E61CEA1223B/DDA78AE4/21B46" vheight="auto" vwidth="500" orisrc="/__local/2/70/8F/6D3129158B82CE85E61CEA1223B_DDA78AE4_21B46.jpeg" class="img_vsb_content"></p> 
  <p class="" style="text-align: center;">座谈交流现场</p> 
  <p class="vsbcontent_end" style="text-align: right;">（责任编辑：邢书磊 / 编发：问帼倩 / 图片来源：科研创作处）</p>
</div></div><div id="div_vote_id"></div>
        
     </div>

                    <div class="art-info">
                            <div class="pnext">
                            
                            
                         </div>
                     </div>
 

                   
                    </div>
</form>
</div>


            </div>
        </div>
    </div>

    <div class="footer2">
            <div class="px1200">

                <div class="pub-group">
                    <div class="pub-glogo flex-center">
<a href="https://www.xafa.edu.cn/" target="_blank"><img src="static/picture/logo.png" /></a>
                    <a href="https://new.xafa.edu.cn/"><img src="static/picture/logox.png" /></a></div>
                    <div class="pub-gr"><UL>
    <LI><a href="http://www.xafa.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86491)">西美主页</a></li>
    <LI><a href="http://e.xafa.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1906949149, 86492)">English</a></li>
</UL>
 <div>
                        <img src="static/picture/menu-w.png" alt="">
                    </div></div>
                </div>
                <div class="foot2-icon-group">
                    <div class="icon-group">
                        <div>    <ul class="icons-box flex-center icons-box-rev">
       
               <li>
                        <a href="http://www.xafa.edu.cn/index/sj_yzxx.htm" title="信箱" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71145)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con1.png" alt="">
                                            <img src="static/picture/nav_con1-r.png" alt="">
                                        </div>
                        </a> 
                          <p>信箱</p>
                </li>
       
       
               <li>
                        <a href="#" title="融媒体系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71144)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con2.png" alt="">
                                            <img src="static/picture/nav_con2-r.png" alt="">
                                        </div>
                        </a> 
                          <p>融媒体系统</p>
                </li>
       
       
               <li>
                        <a href="https://oa.xafa.edu.cn/" title="OA系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71143)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con3.png" alt="">
                                            <img src="static/picture/nav_con3-r.png" alt="">
                                        </div>
                        </a> 
                          <p>OA系统</p>
                </li>
       
       
               <li>
                        <a href="#" title="全媒体系统" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71142)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con4.png" alt="">
                                            <img src="static/picture/nav_con4-r.png" alt="">
                                        </div>
                        </a> 
                          <p>全媒体系统</p>
                </li>
       
       
               <li>
                        <a href="http://www.xafa.edu.cn/index/xyfw.htm" title="校园服务" onclick="_addDynClicks(&#34;wbimage&#34;, 1906949149, 71170)" target="_blank">
                           <div class="icon-img-box">
                                            <img src="static/picture/nav_con5.png" alt="">
                                            <img src="static/picture/nav_con5-r.png" alt="">
                                        </div>
                        </a> 
                          <p>校园服务</p>
                </li>
       
       
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon6.png" alt="">
                                            <img src="static/picture/nav_dcon6-r.png" alt="">
                                        </div></a> <p>微博</p>
                                       <div class="icon-alt-box">
                                        <img src="static/picture/weibo.png" alt="">
                          </div> 
                </li>
       
       
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon7.png" alt="">
                                            <img src="static/picture/nav_dcon7-r.png" alt="">
                                        </div></a> <p>微信</p>
                                       <div class="icon-alt-box">
                                        <img src="static/picture/weixin.jpg" alt="">
                          </div> 
                </li>
       
       
               <li>
                        <a><div class="icon-img-box">
                                            <img src="static/picture/nav_dcon8.png" alt="">
                                            <img src="static/picture/nav_dcon8-r.png" alt="">
                                        </div></a> <p>抖音</p>
                                       <div class="icon-alt-box">
                                        <img src="static/picture/douyin.png" alt="">
                          </div> 
                </li>
       
</ul></div>

                    </div>
                </div>
                <div class="foot2-bq">
<p>版权声明：西安美术学院信息中心版权所有 / <a href="https://beian.miit.gov.cn/" target="_blank" style="color: #c9caca">陕ICP备05010976号-1</a></p><p>地址：陕西省西安市雁塔区含光南路100号 西安美术学院 / 邮编：710065 / 电话：029-88216989</p></div>

            </div>
        </div>
 <script src="static/js/jquery.js"></script>
  <script src="static/js/jquery.migrate.js"></script> 
    <script src="static/js/slick.js"></script>
    <script src="static/js/public.js"></script>
    <script src="static/js/jquery.hoverdir.js"></script>
    <script src="static/js/modernizr.custom.js"></script>
    <script src="static/js/f.js"></script>

</body>

</html>
